body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
h1{
  color: rgb(0, 0, 0);
}
#y{
    height: 50px;
    width: 50px;

}
#n{
    height: 50px;
    width: 50px;
}
table{
    margin-left: 360px;
    background-color: rgb(205, 224, 241);
    border-color: blue;

  
}
#sub{
    height: 50px;
    width: 500px;
    font-size: 30px;
    background-color: rgb(102, 214, 102);
    color: white;
    border-radius: 7%;
    border-color: rgb(182, 254, 252);
}
